.secondpart {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 25px;
}

.secondpart input {
    width: 45%;
    padding: 10px;
    border-radius: 5px;
    /* border: none; */
}

/* wrapper برای input پسورد */
.passwordWrapper {
    position: relative;
    width: 45%;
}

.passwordWrapper input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* فضای کافی برای آیکون چشم */
    border-radius: 5px;
    /* border: none; */
}

.eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555; /* رنگ آیکون */
    font-size: 18px;
}

.theirdpart {
    margin-left: -13px !important;
}

.successBox {
  background: #4caf50; /* سبز موفقیت */
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  animation: fadeInOut 2.5s ease forwards;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
