.containernoinfo {
  width: 380px;
  position: absolute;
  right: 80px;
  top: 70px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.panel {
  width: 380px;
  max-height: 500px;
  position: absolute;
  right: 80px;
  top: 70px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  font-family: "Arial", sans-serif;
  z-index: 100;
}

.panel .firstcol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
}

.panel .firstcol h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.panel .firstcol button {
  border: none;
  background-color: transparent;
  color: #304ffe;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/* بخش دیتاها */
.panel .datalogs {
  display: flex;
  flex-direction: column;
  padding: 12px 15px;
  gap: 8px;
  overflow-y: auto;
}

.panel .datalogs .dataRow {
  display: flex;

  align-items: center;
  border-bottom: 1px solid #c2c1c1;
  padding: 8px 0;
}

.panel .datalogs .dataRow .left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.panel .datalogs .dataRow span {
  font-size: 13px;
  font-weight: 500;
  color: #222;
}

.panel .datalogs .dataRow p {
  font-size: 12px;
  color: #959494;
  margin: 0;
  white-space: nowrap;
}

.panel .datalogs button.clearBtn {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f0efef;
  cursor: pointer;
  transition: all 0.25s ease;
  color: #959494;
}

.panel .datalogs button.clearBtn:hover {
  background-color: blue;
  color: white;
}

@media (max-width: 768px) {
  .panel,
  .containernoinfo {
    width: 90%;
    max-height: 80vh;
    right: 5%;
    top: 130px;
    transform: none;
    overflow-y: auto;
    padding: 12px 15px;
  }

  .panel .datalogs {
    flex-direction: column;
    gap: 8px;
  }

  .panel .firstcol {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .panel .datalogs .dataRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
